<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Thasadith" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
    <title>Document</title>
</head>
<body>
        <div class="row">
                <div class="col-sm nav">
                        <a href="/movies">All Movies</a>
                </div>
                <div class="col-sm nav">
                        <a href="/apps">All Apps</a>
                </div>
                <div class="col-sm nav">
                                <a href="/news">All News</a>
                        </div>
                {{#user}}
                <div class="col-sm nav">
                    <a href="/profile">profile</a>
                </div>
                {{/user}}

                {{^user}}
                <div class="col-sm nav">
                        <a href="/signup">signup</a>
                </div>
                <div class="col-sm nav">
                        <a href="/signin">signin</a>
                </div>
                {{/user}}  
        </div>
        <div class="container">
        <a href="/"><h1 class="namePage">ABOUT SPACE</h1></a>
        {{#isAdmin}}
        <h1><a href="apps/new">Add App</a></h1>
        {{/isAdmin}}
        
        <div class="row">
                {{#apps}}
            
                        <div class="col styleCard">
                    <div class="card" style="width: 28rem; height: 42rem;">
                        <!-- <img class="card-img-top" src={{poster_img}} alt="Card image cap" height="500px"> -->
                        <div class="card-body">
                          <h2 class="card-title">
                                {{name}}
                          </h2>
                          <p class="card-text">{{description}}</p>
                          <a href="/apps/{{id}}" class="btn btn-primary">Open</a>
                        </div>
                </div>
                </div>
                <!-- <h1>name <a href="/movies/{{id}}">{{name}}</a></h1> -->
                <!-- <p>{{description}}</p>
                    <img src={{poster_img}} alt=""> -->
                    {{/apps}}
                </div>


        <!-- {{#apps}}
        <h1>name <a href="/apps/{{id}}">{{name}}</a></h1>
        <p>{{description}}</p>
        <a href="{{app_url}}">Apple store</a>
        {{/apps}} -->
    </div>
</body>
</html>