<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Thasadith" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
    <title>Document</title>
</head>
<body>
                <div class="row">
                        <div class="col-sm nav">
                                <a href="/movies">All Movies</a>
                        </div>
                        <div class="col-sm nav">
                                <a href="/apps">All Apps</a>
                        </div>
                        <div class="col-sm nav">
                                <a href="/news">All News</a>
                        </div>
                        {{#user}}
                        <div class="col-sm nav">
                            <a href="/profile">profile</a>
                        </div>
                        {{/user}}
        
                        {{^user}}
                        <div class="col-sm nav">
                                <a href="/signup">signup</a>
                        </div>
                        <div class="col-sm nav">
                                <a href="/signin">signin</a>
                        </div>
                        {{/user}}  
                </div>
                <div class="container">
                <a href="/"><h1 class="namePage">ABOUT SPACE</h1></a>


                <form action="/apps" method="POST">
                    <div class="form-group">
                              <label for="name">Name</label>
                              <input type="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="name" name="name">
                            </div>
                            <div class="form-group">
                              <label for="description">description</label>
                              <input type="text" class="form-control" id="description" placeholder="description" name="description">
                            </div>
                            <div class="form-group">
                                    <label for="rate">rate</label>
                                    <input type="number" class="form-control" id="rate" placeholder="rate" name="rate">
                            </div>
                            <div class="form-group">
                                <label for="languages">languages</label>
                                <input type="text" class="form-control" id="languages" placeholder="languages" name="languages">
                            </div>
                            <div class="form-group">
                                <label for="app_url">App url</label>
                                <input type="text" class="form-control" id="app_url" placeholder="app_url" name="app_url">
                            </div>
                            <!-- <div class="form-group form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div> -->
                            <button type="submit" class="btn btn-primary">Add</button>
                    </form>
    <!-- <form action="/apps" method="POST">
        <label for="name">
            name: <input type="text" name="name" id="name">
        </label>
        <label for="description">
            description: <input type="text" name="description" id="description">
        </label>
        <label for="rate">
            rate: <input type="number" name="rate" id="rate">
        </label>
        <label for="languages">
            languages: <input type="text" name="languages" id="languages">
        </label>
        <label for="app_url">
            App url: <input type="text" name="app_url" id="app_url">
        </label>
        <button type="submit">Add</button>
    </form> -->
    </div>
</body>
</html>